/* 
body{
    background: rgb(187, 187, 179);
    font:normal 20pt arial;
}
header{
    color: rgb(6, 19, 194);
    text-align: center;
    font:normal 20pt arial;
}

section{
    background: rgb(0, 0, 0);
    border-radius: 80px;
    padding: 30px;
    width: 900px;
    margin:auto;
    box-shadow: 5px 5px 10px rgb(255, 0, 0);
    text-align: center;
    color: aliceblue;
    font:normal 20pt arial;

}
footer{
    color: rgb(47, 13, 236);
    text-align: center;
    font-style: italic;
    font:normal 20pt arial;
}  */

.range{
  width: 85%;
  height: 2px;
  background-color: #111;
  -webkit-appearance: none;
  outline: none;
  border-radius: 2px;
}